#cart_main {
  background: #fff;
  margin-top: 20px;
  margin-bottom: 45px;
}
#cart_main .main_1 {
  height: 70px;
}
#cart_main .main_1 .main_1_left {
  width: 20%;
  height: 70px;
  padding: 10px 10px;
}
#cart_main .main_1 .main_1_left img {
  width: 80px;
  height: 50px;
  margin-right: 15px;
}
#cart_main .main_1 .main_1_left span {
  height: 70px;
  font-size: 25px;
  color: #4d4c4c;
}
#cart_main .main_1 .main_1_right {
  width: 55%;
  height: 70px;
  line-height: 55px;
}
#cart_main .main_1 .main_1_right img {
  width: 100%;
  height: 50px;
}
#cart_main .main_2 {
  height: 46px;
  margin: 20px 0;
  border: 1px solid #ccc;
}
#cart_main .main_2 li {
  float: left;
  height: 37px;
  margin-right: 20px;
  padding: 3px 10px;
}
#cart_main .main_2 li span {
  display: inline-block;
  line-height: 30px;
}
#cart_main .main_2 li span:nth-child(1) {
  width: 18px;
  height: 20px;
  background: #b63b3b;
  text-align: center;
  line-height: 22px;
  font-size: 13px;
  color: #fff;
}
#cart_main .main_2 li span:nth-child(2) {
  font-size: 14px;
  color: #7c7b7b;
}
#cart_main .main_2 li span:nth-child(3) {
  color: deepskyblue;
  font-weight: bold;
}
#cart_main .main_2 li span:nth-child(4) {
  color: #7c7b7b;
  font-size: 13px;
}
#cart_main .main_2 li:nth-child(2) span:nth-child(1) {
  background: orange;
}
#cart_main .main_2 li:nth-child(3) span:nth-child(1) {
  background: deepskyblue;
}
#cart_main .main_2 p {
  padding: 0 15px;
  height: 45px;
  line-height: 45px;
}
#cart_main .main_2 p a:nth-child(1) {
  font-size: 11px;
}
#cart_main .main_2 p a:nth-child(2) {
  color: blue;
  font-size: 13px;
}
#cart_main .main_2 p a:nth-child(2):hover {
  text-decoration: underline;
}
#cart_main .main_3 table {
  border-spacing: 0;
  border-collapse: collapse;
}
#cart_main .main_3 table thead {
  text-align: center;
}
#cart_main .main_3 table thead td {
  height: 30px;
  padding: 3px 25px;
  font-weight: bold;
  border-top: 2px solid #1D7DB1;
  border-bottom: 1px solid #ccc;
}
#cart_main .main_3 table tbody {
  text-align: center;
}
#cart_main .main_3 table tbody tr {
  border-bottom: 1px solid #ccc;
}
#cart_main .main_3 table tbody tr td {
  padding: 3px 27px;
  height: 80px;
}
#cart_main .main_3 table tbody tr span {
  display: inline-block;
  width: 14px;
  height: 17px;
  line-height: 13px;
  background: #ddd;
  padding: 0 1px;
  cursor: pointer;
}
#cart_main .main_3 table tbody tr .nownum {
  display: inline-block;
  width: 80px;
  border: 1px solid #ccc;
}
#cart_main .main_3 table tbody tr td:nth-child(2) {
  width: 380px;
  height: 80px;
  padding: 3px 5px;
}
#cart_main .main_3 table tbody tr td:nth-child(2) h5 {
  width: 24%;
  height: 80px;
}
#cart_main .main_3 table tbody tr td:nth-child(2) h5 img {
  width: 100%;
  height: 80px;
}
#cart_main .main_3 table tbody tr td:nth-child(2) h4 {
  width: 65%;
  height: 70px;
  margin-left: 20px;
  text-align: left;
  line-height: 45px;
}
#cart_main .main_3 table tbody tr td:nth-child(2) h4 p:nth-child(1) {
  font-size: 13px;
  height: 40%;
}
#cart_main .main_3 table tbody tr td:nth-child(2) h4 p:nth-child(2) {
  font-size: 11px;
  height: 30%;
}
#cart_main .main_3 table tbody tr td:nth-child(3) {
  text-align: center;
}
#cart_main .main_3 table tbody tr td:nth-child(3) p {
  height: 35%;
}
#cart_main .main_3 table tbody tr td:nth-child(3) p i {
  width: 23px;
  height: 20px;
  background: #b63e3e;
  color: #fff;
  text-align: center;
  line-height: 20px;
  font-size: 10px;
}
#cart_main .main_3 table tbody tr td:nth-child(3) p a {
  font-size: 12px;
}
#cart_main .main_3 table tbody tr td:nth-child(3) p:nth-child(2) i {
  background: orange;
}
#cart_main .main_3 table tbody tr td:nth-child(7) input {
  text-align: center;
  line-height: 25px;
  font-size: 13px;
  padding: 0 5px;
  border: 1px solid #ccc;
  background: ghostwhite;
}
#cart_main .main_3 table tbody tr td:nth-child(7) a {
  font-size: 15px;
  line-height: 28px;
}
#cart_main .main_3 table tbody tr .mianyun {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
#cart_main .main_3 table tbody tr .mianyun p:nth-child(1) {
  font-size: 14px;
}
#cart_main .main_3 table tbody tr .mianyun p:nth-child(2) {
  background: #66c98f;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}
#cart_main .main_3 #list {
  height: 80px;
  margin-top: 15px;
  font-weight: bold;
  border: 1px solid #ccc;
  background: ghostwhite;
  padding-left: 45px;
  line-height: 80px;
}
#cart_main .main_3 #list li {
  float: left;
  margin-right: 35px;
  text-align: center;
  font-size: 14px;
}
#cart_main .main_3 #list li span {
  font-size: 18px;
  color: green;
  margin: 0 13px;
}
#cart_main .main_3 #list li:nth-child(5) p {
  line-height: 42px;
}
#cart_main .main_3 #list li:last-child p {
  width: 120px;
  padding: 10px 15px;
  background: #fa8f15;
  text-align: center;
  line-height: 20px;
  color: #fff;
  font-size: 18px;
  margin-top: 20px;
}
#cart_main .main_3 #list li:last-child p:hover {
  cursor: pointer;
}

/*# sourceMappingURL=cart.css.map */
