#login_main {
	height: 500px;
	background: #fff;
}

#login_main .main_1 {
	width: 450px;
	height: 500px;
	margin: 40px 100px;
	position: relative;
	overflow: hidden;
}
/*图片的样式*/
#login_main .main_1 .slider_img {
	height: 460px;
}
#login_main .main_1 .slider_img li {
	width: 450px;
	height: 300px;
	position: absolute;
	left: 90px;
	top: 60px;
	
}
#login_main .main_1 .slider_img li img{
	width: 100%;
	height: 300px;
}
#login_main .main_1 .light{
	width: 300px;
	position: absolute;
	margin-left: 25%;
	bottom: 85px;
	text-align: center;
	
}
#login_main .main_1 .light span{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: rgb(196, 225, 243);
	border-radius: 50%;
	text-align: center;
	line-height: 16px;
	margin-right: 10px;
	cursor: pointer;
}
#login_main .main_1 .light .active{
	background: deepskyblue;
}
#login_main .main_2 {
	width: 28%;
	height: 400px;
	margin-right: 200px;
	border: 1px solid #ccc;
	box-shadow: 0 3px 3px #ccc;
	margin-top: 50px;
}
#login_main .main_2 form{
	width: 350px;
	height: 250px;
	margin-top: 10px;
	padding: 20px 35px;
	box-sizing: border-box;
}
#login_main .main_2 form label{
	font-size: 14px;
	font-weight: bold;
}
#login_main .main_2 form input{
	display: inline-block;
	width: 260px;
	height: 32px;
	border: 1px solid #ccc;
	line-height: 32px;
	margin-bottom: 17px;
	margin-top: 10px;
}
#login_main .main_2 form #btn{
	background: rgb(182, 55, 38);
	color: #fff;
	font-size: 15px;
	letter-spacing: 15px;
}
#login_main .main_2 p{
	width: 300px;
	margin-left: 50px;
}
#login_main .main_2 .p1{
	height: 50px;
	margin-top: 20px;
	line-height: 50px;
	border-bottom: 1px dashed #ccc;
}
#login_main .main_2 .p1 input{
	margin-right: 10px;
}
#login_main .main_2 .p1 span{
	font-size: 13px;
}
#login_main .main_2 .p1 .a1{
	margin-left: 120px;
	font-size: 14px;
	color: darkcyan;
}
#login_main .main_2 .p1 .a1:hover{
	text-decoration: underline;
}
#login_main .main_2 .p2{
	margin-top: 20px;
}
#login_main .main_2 .p2 .span1{
	font-size: 14px;
	color: rgb(148, 146, 145);
}
#login_main .main_2 .p2 .span2{
	margin-left: 40px;
} 
#login_main .main_2 .p2 .span2 img{
	margin-left: 7px;
}
